continut/resurse/persoane.dtd

<!ELEMENT jucatori (jucator+)>
<!ELEMENT jucator (nume, prenume, varsta, nationalitate, pozitie, numar_tricou, valoare_piata, contract)>
<!ATTLIST jucator id CDATA #REQUIRED>

<!ELEMENT contract (inceput, sfarsit, salariu_saptamanal, clauze)>
<!ELEMENT clauze (clauza+)>

<!ELEMENT nume (#PCDATA)>
<!ELEMENT prenume (#PCDATA)>
<!ELEMENT varsta (#PCDATA)>
<!ELEMENT nationalitate (#PCDATA)>
<!ELEMENT pozitie (#PCDATA)>
<!ELEMENT numar_tricou (#PCDATA)>
<!ELEMENT valoare_piata (#PCDATA)>
<!ELEMENT inceput (#PCDATA)>
<!ELEMENT sfarsit (#PCDATA)>
<!ELEMENT salariu_saptamanal (#PCDATA)>
<!ELEMENT clauza (#PCDATA)>